.loginsignup {
    width: 100%;
    height: 80vh;
    background: #fce3fe;
    padding-top: 10px;
    margin-bottom: 20px;
}

.loginsignup-container {
    width: 580px;
    height: 400px;
    background: white;
    margin: auto;
    padding: 0px 30px;
}

.loginsignup-container h1 {
    margin: 10px 0px;
}

.loginsignup-fields {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    gap: 20px;
}

.loginsignup-fields input {
    height: 35px;
    width: 100%;
    padding-left: 10px;
    border: 1px solid #c9c9c9;
    outline: none;
    color: #5c5c5c;
    font-size: 15px;
}

.loginsignup-container button {
    width: 592px;
    height: 40px;
    color: white;
    background: #ff4141;
    margin-top: 10px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.loginsignup-login {
    margin-top: 20px;
    color: #5c5c5c;
    font-size: 18px;
    font-weight: 500;
}

.loginsignup-login span {
    color: #ff4141;
    font-weight: 600;
}

.loginsignup-agree {
    display: flex;
    align-items: center;
    margin-top: 25px;
    gap: 20px;
    color: #5c5c5c;
    font-size: 500;
}